<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmation</title>
</head>
<body>
    <h2>Confirmation of Submitted Data</h2>
    <ul>
        <li><strong>First Name:</strong> {{ first_name }}</li>
        <li><strong>Last Name:</strong> {{ last_name }}</li>
        <li><strong>Email:</strong> {{ email }}</li>
        <li><strong>Room Number:</strong> {{ roomNum }}</li>
        <li><strong>Section:</strong> {{ section }}</li>
        <li><strong>Username:</strong> {{ username }}</li>
        <li><strong>Password:</strong> {{ password }}</li>
        <li><strong>Location:</strong> {{ location }}</li>
        <li><strong>AdharNum:</strong> {{ adharNum }}</li>
        <li><strong>Phone:</strong> {{ phoneNum }}</li>
        <li><strong>DOB:</strong> {{ dob }}</li>
        <li><strong>RFID:</strong> {{ rfidNum }}</li>


    </ul>
</body>
</html>
