<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Dashboard - SB Admin</title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
        <link href="css/styles.css" rel="stylesheet" />
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    </head>
    <body class="sb-nav-fixed">
        {% include "_topnavBar.html" %}

        <div id="layoutSidenav">
          
            {% include "_sidenavBar.html" %}

            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Dashboard</h1>
                        {% block main %} 
                        
                        {% endblock %}
                        
                    </div>
                </main>
                    
            </div>
        </div>

        <!-- sibi modal -->
<div id="modalsGarbage">
    <div class="modal fade" id="dummy-dialog-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <div class="modal-subtitle float-end text-small"></div>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
  </div>
  
  
  
  
  <script src="/dialog.js"> </script>
             <script src="js/scripts.js"></script>
        <script src="js/datatables-simple-demo.js"></script>
           <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
      
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script   src="https://code.jquery.com/jquery-3.7.0.js"   integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="   crossorigin="anonymous"></script>
     
    </body>


    <script>
        $(document).ready(function() {
            $('.togBut').on('click', function() {
                var button = $(this);
                var id = $(this).closest('tr').find('td:eq(1)').text(); // Get the ID from the second <td> in the same row
                var apiUrl = '/api/v1/toggleactive'; 
        
                // Prepare the data to send in the POST request
                var data = {
                    rfidno: id
                };    
                
                $.post(apiUrl, data, function(response) {
                    console.log('API POST request'+response);
                    if (response == 1) {
                        button.removeClass('bg-success').addClass('bg-danger');
                        button.text('deactivated');
                    }
                    else if (response == 0) {
                        button.removeClass('bg-danger').addClass('bg-success');
                        button.text('activated');
                    }
                    
                    // You can handle the API response here
                })
                .fail(function(error) {
                    console.error('API POST request failed');
                    // Handle the error here
                });
            });
        
            
            $('.logBut').on('click', function() {
                var value = $(this).closest("tr").find("td:eq(1)").text();
                console.log(value);
                $.post('/api/v1/getEntryData', { rfidno: value}, function(data) {
                    console.log(data)
                    d4=new Dialog("See Logs",`
                  
               
                `);
                d4.setButtons([
               {
               name: "Close",
              class: "btn-warning",
        
              onClick: function(event){
            $(event.data.modal).modal('hide');
        }
      }  

  ])
    d4.show()
        
          
           
            });
        
                  


                });

              
               
        

            $('.avail').on('click', function() {
                d2=new Dialog("Available User",`
                <table class="table">
             <thead>
                        <tr>
      <th scope="col">username</th>
      <th scope="col">rfid</th>
    </tr>
  </thead>
  <tbody>
    {% for item2 in data2 %}
    <tr>
      <td>{{item2['username']}}</td>
      <td>{{item2['rfidno']}}</td>
    </tr>
    {% endfor %}
    
  </tbody>
</table>
                
                `);
                d2.setButtons([
      {
        name: "Close",
        class: "btn-warning",
        
        onClick: function(event){
            $(event.data.modal).modal('hide');
        }
      }  
  ])
    d2.show()
            });



            $('.insider').on('click', function() {
                d2=new Dialog("inside User",`
                <table class="table">
             <thead>
                        <tr>
      <th scope="col">username</th>
      <th scope="col">rfid</th>
    </tr>
  </thead>
  <tbody>
    {% for item3 in data3 %}
    <tr>
      <td>{{item3['username']}}</td>
      <td>{{item3['rfidno']}}</td>
    </tr>
    {% endfor %}
    
  </tbody>
</table>
                
                `);
                d2.setButtons([
      {
        name: "Close",
        class: "btn-warning",
        
        onClick: function(event){
            $(event.data.modal).modal('hide');
        }
      }  
  ])
    d2.show()
            });


            

            $('.outsider').on('click', function() {
                d2=new Dialog("outside User",`
                <table class="table">
             <thead>
                        <tr>
      <th scope="col">username</th>
      <th scope="col">rfid</th>
    </tr>
  </thead>
  <tbody>
    {% for item4 in data4 %}
    <tr>
      <td>{{item4['username']}}</td>
      <td>{{item4['rfidno']}}</td>
    </tr>
    {% endfor %}
    
  </tbody>
</table>            
           `);
                d2.setButtons([
      {
        name: "Close",
        class: "btn-warning",
        
        onClick: function(event){
            $(event.data.modal).modal('hide');
        }
      }  
  ])
    d2.show()
            });


            
            $('.deactives').on('click', function() {
                d2=new Dialog("deactivated User",`
                <table class="table">
             <thead>
                        <tr>
      <th scope="col">username</th>
      <th scope="col">rfid</th>
    </tr>
  </thead>
  <tbody>
    {% for item5 in data5 %}
    <tr>
      <td>{{item5['username']}}</td>
      <td>{{item5['rfidno']}}</td>
    </tr>
    {% endfor %}
    
  </tbody>
</table>            
           `);
                d2.setButtons([
      {
        name: "Close",
        class: "btn-warning",
        
        onClick: function(event){
            $(event.data.modal).modal('hide');
        }
      }  
  ])
    d2.show()
            });






            $('.edits').on('click', function(){
              var tr = $(this).closest("tr");

// Get the values from the <td> elements within the <tr>
            var username = tr.find("td:eq(0)").text();
            var rfid = tr.find("td:eq(1)").text();
            var todaysPermis = tr.find("td:eq(4)").text();
            function generateOptions(start, end) {
                        let options = '';
                 for (let i = start; i <= end; i++) {
                  options += `<option value="${i}">${i}</option>`;
                     }
                    return options;
                     }



    d = new Dialog("Allowed Permission", `
    <form>
      <h3>${rfid}</h3>
        <div class="form-group">
            <label for="group-name">username</label>
            <input type="text" class="form-control" id="uname" value="${username}" readonly>
        </div>
        <div class="form-group">
    <label for="group-desc">todayPermission</label>
    <select class="form-control" id="permis">
        ${generateOptions(0, 24)}
        <option value="5" selected>${todaysPermis}</option>
    </select>
</div>
   

      </form>

      


    `);
    d.setButtons([
        {
            "name": "Permit",
            "class": "btn-success btn-add-group",
            "onClick": function(event){
                var modal = $(event.data.modal);
               
                var timeuntl = modal.find('#permis').val();
               
                  $.post('/api/v1/SetOneDayPermission', {
                        'rfidno': rfid,
                        'timeuntill': timeuntl
                    }, function(data, status, xhr){
                    
                        $(modal).modal('hide');
                      
                    });
                
            }
        },
        {
            "name": "Cancel",
            "class": "btn-secondary",
            "onClick": function(event){
                var modal = $(event.data.modal);
                $(modal).modal('hide');
            }
        },
        {
            "name": "Delete",
            "class": "btn-secondary",
            "onClick": function(event){
             var modal = $(event.data.modal);
             $.post('/api/v1/delete', {
                      'rfidno': rfid,
                       
                  }, function(data, status, xhr){
                    
                      
                      
                    });
                
              $(modal).modal('hide');
            }
        }
    ]);
    d.show();
      });



        });


        </script>

       


</html>
