<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for item in data %}
    <td>
        <!-- <p class="text-xs font-weight-bold mb-0">{{item.time}}</p> -->
        
        <p class="text-xs font-weight-bold mb-0">{{item['card_time']}}</p>
        <p class="text-xs font-weight-bold mb-0">{{item['id']}}</p>
        <p class="text-xs font-weight-bold mb-0">{{item['username']}}</p>
        <p class="text-xs font-weight-bold mb-0">{{item['rfidno']}}</p>
        <p class="text-xs font-weight-bold mb-0">{{item['times']}}</p>
       
    </td>
 
   {% endfor %}

</body>
</html>